/* user-details.component.css */

.card {
  border: 2px solid GREEN; /* Color del borde de la tarjeta */
  border-radius: .25rem;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para la tarjeta */
}

/* Estilo del título de la tarjeta */
.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #343a40; /* Color del texto del título */
}

/* Estilo del grupo de formularios */
.form-group {
  margin-bottom: 1rem;
}

/* Estilo del botón primario */
.btn-primary {
  background-color: #007bff; /* Color de fondo del botón */
  border-color: #007bff; /* Color del borde del botón */
  color: #fff; /* Color del texto del botón */
}

/* Opcional: Estilo del botón al pasar el mouse */
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Estilo del formulario */
form {
  background-color: #ffffff; /* Fondo blanco para el formulario */
  padding: 1rem; /* Espaciado interior del formulario */
  border-radius: .25rem; /* Bordes redondeados del formulario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del formulario */
}

/* Añadir imagen de fondo */
:host {
  display: block;
  min-height: 100vh;
  background: url('/assets/pets.jpg') no-repeat center center fixed; /* Imagen de fondo */
  background-size: cover; /* Ajustar imagen al tamaño de la pantalla */
}
